:root {
    --mint-color: #57c0b9;
    --wmint-color: #b4f3dc;
    --red-color: #e25a4d;
    --orange-color: #ffd17c;
    --brown-color: #8c4646;
    --black-color: #1E1E1E;
    --white-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.main-container {
    background-color: var(--mint-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.vending-machine-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 620px;
}

.vending-machine-body {
    background-color: var(--red-color);
    width: 100%;
    height: 96.6%;
    border-radius: 20px;
}

.vending-machine-head {
    background-color: var(--brown-color);
    width: 100%;
    height: 6.6%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.problem-container {
    background-color: var(--white-color);
    margin-left: 30px;
    margin-right: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 41.6%;;
}

.center-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.problem-text {
    font-family: 'ubuntu';
    font-size: 32px;
}

.drink-container{
    display: inline-flex;
    margin-top: 40px;
    margin-left: 30px;
    width: calc(100% - 54px);
    height: 14.51%;
}

.drink-shower-container {
    background-color: var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border-radius: 10px;
    width: 84%;
    height: 100%;
}

.drink-image {
    width: 40px;
    height: 66px;
    margin-top: 5px;
}

.price-container {
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 10px;
}

.drink-price {
    font-family: 'Ubuntu';
    font-size: 4px;
    color: var(--white-color)
}

.button-space-container {
    margin-left: 12px;
    margin-top: 6px;
    width: 13%;
    height: 86.66%;
}

.button-space {
    width: 100%;
    height: 82.05%
}

.button-row-space {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 4px;
}

.orange-button {
    background-color: var(--orange-color);
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.mint-button {
    background-color: var(--wmint-color);
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.bill-space {
    background-color: var(--brown-color);
    margin-top: 6px;
    width: 100%;
    height: 6.41%
}

.empty-middle-container {
    width: 100%;
    height: 19.16%;
}

.drink-out-container {
    background-color: var(--brown-color);
    width: calc(100% - 60PX);
    border-radius: 2px;
    height: 6.66%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
}

.vending-machine-foot-container{
    display: inline-flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    width: 90%;
    height: 3.2%;
}

.vending-machine-foot {
    background-color: var(--black-color);
    width: 13.88%;
    height: 100%;
    border-radius: 2px;
}


@font-face {
    font-family: "nanumR";
    src: url("./font/NanumSquare_acR.ttf");
}
.copyright {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-family: 'nanumR';
    font-size: 18px;
}